@import "src/app/ui/styles/vars.scss";
@import "src/app/ui/styles/functions.scss";
@import "src/app/ui/styles/breakpoints.scss";
@import "src/app/ui/styles/mixins.scss";

.container{
  all: unset;
  padding: toRem(0) toRem(15);
  border-radius: toRem(10);
  font-size: toRem(14);
  font-weight: 700;
  height: toRem(46);
  justify-content: center;
  display: flex;
  align-items: center;
  @include defaultTransition();
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .spinner {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  &[data-button-color="white"] {
    background-color: $white;
    color: $dark-brown;
  }

    &[data-button-color="black"] {
      background-color: $dark-brown;
      color: $white;
    }

    &[data-button-color="brown"] {
      background-color: $brown;
      color: $white;
    }

    &[data-button-color="light-brown"] {
      background-color: $light-brown;
      color: $white;
    }

  &[data-outline="true"] {
    background-color: transparent;
    border: toRem(1) solid $white;
    color: $white;
  }

  &[data-full-width="true"] {
    width: 100%;
  }

  @include max-md() {
    font-size: toRem(11);
    height: toRem(35);
    padding: toRem(0) toRem(10);
  }

  .link{
    text-decoration: none;
    color: inherit;
  }

}