@import "src/app/ui/styles/vars.scss";
@import "src/app/ui/styles/functions.scss";
@import "src/app/ui/styles/breakpoints.scss";

.container{
  all: unset;
  padding: toRem(0) toRem(15);
  border-radius: toRem(10);
  font-size: toRem(14);
  font-weight: 700;
  height: toRem(46);
  justify-content: center;
  display: flex;
  align-items: center;

  &[data-button-color="white"] {
    background-color: $white;
    color: $dark-brown;
  }

    &[data-button-color="black"] {
      background-color: $dark-brown;
      color: $white;
    }

    &[data-button-color="brown"] {
      background-color: $brown;
      color: $white;
    }

    &[data-button-color="light-brown"] {
      background-color: $light-brown;
      color: $white;
    }

  &[data-full-width="true"] {
    width: 100%;
  }

  @include max-md() {
    font-size: toRem(11);
    height: toRem(35);
    padding: toRem(0) toRem(10);
  }

}