@import "src/app/ui/styles/vars.scss";
@import "src/app/ui/styles/functions.scss";
@import "src/app/ui/styles/breakpoints.scss";

.container{
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: toRem(400);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: toRem(24);
  border-radius: toRem(32);
  padding: toRem(26) toRem(5) toRem(26) toRem(20);
  border: toRem(2) solid $white;
  min-height: toRem(380);

  .title{
    font-size: toRem(20);
    font-weight: 700;
    color: $white;
    text-align: left;

    @include max-md {
      font-size: toRem(18);
    }
  }
}