@import "src/app/ui/styles/vars.scss";
@import "src/app/ui/styles/functions.scss";
@import "src/app/ui/styles/breakpoints.scss";
@import "src/app/ui/styles/animations.scss";

.container{
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: toRem(420);
  height: toRem(500);
  display: flex;
  flex-direction: column;
  gap: toRem(24);
  border-radius: toRem(32);
  padding: toRem(26) toRem(5) toRem(120) toRem(20);
  border: toRem(2) solid $white;
  animation: fade-in 0.5s ease-in-out;

  .title{
    font-size: toRem(20);
    font-weight: 700;
    color: $white;
    text-align: left;

    @include max-md {
      font-size: toRem(18);
    }
  }

  .backButton{
    background-color: $brown;
    padding: toRem(5);
    border-radius: toRem(5);

    .icon{
      width: toRem(20);
      height: toRem(20);
      transform: rotate(180deg);

      path{
        stroke: $white
      }
    }
  }

}
