@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-gray-50;
}

input {
  @apply px-2;
}

.toastui-calendar-panel.toastui-calendar-allday {
  display: none !important;
}

.toastui-calendar-panel-resizer{
  display: none !important;
}

.toastui-calendar-day-view-day-names, .toastui-calendar-week-view-day-names{
  border-bottom: none !important;
}

@layer base {
  :root {
    --radius: 0.5rem
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}
