@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-gray-50;
}

input {
  @apply px-2;
}
.fc-header-toolbar {
  display: inline-block;
  padding: 4px 4px;

  @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-media-screen{
  height: 100vh;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-h-event {
  @apply border bg-brown02;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-blue-50;
}

.fc .fc-button{
  @apply bg-brown01 hover:bg-brown  ;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-brown;
}

.fc .fc-button-primary:disabled {
  @apply bg-brown02;
}

.fc-v-event {
  @apply border bg-brown02;
}

@layer base {
  :root {
    --radius: 0.5rem
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}
