//Colors
$brown: #734434;
$brown01: #b47866;
$brown02: #735f5f;
$light-brown: #d9b384;
$light-brown01: #ECE1CD;
$light-brown02: #49403B;
$dark-brown: #222522;
$black01: #000000;
$black: #313131;
$white: #ffffff;
$gray: #606060;

//Measurements
$section-content-max-width: 1200px;
$section-padding: 16px;
