//Colors
$brown: #734434;
$brown01: #b47866;
$brown02: #735f5f;
$light-brown: #d9b384;
$dark-brown: #222522;
$black: #313131;
$white: #ffffff;

//Measurements
$section-content-max-width: 1200px;
$section-padding: 16px;
