@import "@/app/ui/styles/vars";
@import "@/app/ui/styles/functions";
@import "@/app/ui/styles/breakpoints";

.container{
  display: flex;
  flex-direction: column;
  gap: toRem(12);
  justify-content: flex-start;

  .title {
    font-size: toRem(13);
    font-weight: 700;
    color: $white;
    text-align: left;

    @include max-sm {
      font-size: toRem(12);
    }
  }

  &[data-theme="DARK"] {
    .title {
      color: $white;
    }
  }

  &[data-theme="LIGHT"] {
    .title {
      color: $gray01;
    }
  }

}
