@import "src/app/ui/styles/vars.scss";
@import "src/app/ui/styles/functions.scss";
@import "src/app/ui/styles/mixins.scss";
@import "src/app/ui/styles/breakpoints.scss";

.container{
  all: unset;
  position: relative;
  padding: toRem(10) toRem(15);
  border-radius: toRem(6);
  background: $dark-brown;
  color: $white;
  border: toRem(1.5) solid rgba($white, 0.2);
  white-space: nowrap;
  cursor: pointer;
  @include defaultTransition;
  text-transform: uppercase;
  text-align: center;

  &:hover span{
    color: $white !important;
  }

  &[data-is-selected="true"]{
    background-color: $brown;
    border-color: transparent;
  }

  @include desktop-hover-state (){
    &:hover:not([data-is-selected="true"]){
      background-color: rgba($light-brown, 1);
      border-color: transparent;
    }
  }

  &[data-button-type="horizontal"] {

  }

  &[data-button-type="vertical"] {

  }
}
