@import "src/app/ui/styles/vars.scss";
@import "src/app/ui/styles/functions.scss";
@import "src/app/ui/styles/breakpoints.scss";

.sectionContainer{
  background: $light-brown01;
  width: 100%;
}

.container{
  padding: toRem(100) 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: toRem(100);

  @include max-md() {
    padding: toRem(50) 0;
    gap: toRem(30);
  }

  .serviceInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: toRem(80);

    @include max-md() {
      flex-direction: column;
      gap: toRem(30);
    }

    .left{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: toRem(30);

      @include max-md() {
        gap: toRem(15);
      }

      .description{
        color: $gray;
        font-size: toRem(17);
        line-height: toRem(30);
        font-weight: 400;

        @include max-md() {
          font-size: toRem(15);
          text-align: left;
        }

        .highlight{
          color: $brown;
          font-weight: 700;
        }
      }

      .controls{
        display: flex;
        flex-direction: column;
        gap: toRem(14);

        @include max-md() {
          gap: toRem(10);
        }

        .counter{
          font-weight: 700;
          color: $brown;
          font-size: toRem(18);
          letter-spacing: 1px;

          @include max-md() {
            font-size: toRem(16);
          }
        }

        .arrows{
          display: flex;
          gap: toRem(2);
          align-items: center;

          .arrow{
            width: auto;
            height: toRem(14);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            @include max-md() {
              height: toRem(12);
            }

            &[data-disabled="true"]{
              cursor: not-allowed;
              opacity: 0.5;
            }
          }

          .arrowLeft{
            rotate: 180deg;
          }

          .arrowRight{
            rotate: 0deg;
          }
        }
      }
    }

    .right{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;


      .swiperContainer{
        display: block;
      }

      .imageContainer{
        position: relative;
        width: 350px;
        height: 350px;
        overflow: hidden;
        border-radius: toRem(16);

        @include max-md() {
          width: 200px;
          height: 200px;
        }

        .image{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .shadow{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba($brown, 0.5) 100%);
          z-index: 10;
        }
      }

    }
  }

  .basePrices{
    display: flex;
    gap: toRem(100);
    padding: toRem(50) 0;

    @include max-md() {
      flex-direction: column;
      gap: toRem(50);
      padding: toRem(30) 0;
    }

    .testimonials{
      max-width: toRem(500);
    }

    .pricesContainer{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: toRem(26);
    }
  }
}

.title{
  font-size: toRem(40);
  font-weight: 900;
  color: $brown;
  white-space: nowrap;
  text-align: left;

  @include max-md() {
    font-size: toRem(30);
  }
}


.hidden{
  visibility: hidden;
}