@import "@/app/ui/styles/vars";
@import "@/app/ui/styles/functions";
@import "@/app/ui/styles/breakpoints";

.container {
  width: toRem(100);
  height: toRem(100);
  background-color: $brown02;
  border-radius: 100%;
  outline: toRem(1) dashed $brown02;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.2s;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    outline-width: toRem(1.4);
  }

  .plusIcon {
    width: toRem(30);
    height: toRem(30);

    path {
      fill: $brown;
    }
  }

  &[data-has-file="true"] {
    outline: toRem(1) solid $gray;
  }

  .spinner {
    width: toRem(30);
    height: toRem(30);
  }

  .editIcon {
    position: absolute;
    top: toRem(-1);
    right: toRem(0);
    width: toRem(24);
    height: toRem(24);
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: toRem(10);
    position: relative;
    border: toRem(1) solid $brown;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
