@import "@/app/ui/styles/vars";
@import "@/app/ui/styles/functions";
@import "@/app/ui/styles/breakpoints";
@import "@/app/ui/styles/animations";
@import "@/app/ui/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: toRem(16);

  .spinnerContainer {
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    height: 35px;
  }

  .errorMessage {
    margin-left: auto;
    margin-right: auto;
    font-size: toRem(16);
    font-weight: 400;
    color: $red02;
    text-align: center;
  }
}

.buttonText {
  display: flex;
  align-items: flex-start;
  gap: toRem(5);

  .treatment {
    font-size: toRem(12);
    font-weight: 700;
    color: $white;
    @include max-sm {
      font-size: toRem(12);
    }
  }

  .duration {
    font-size: toRem(10);
    color: $light-brown;
    display: none;
  }

  &:hover {
    color: $white;

    .duration {
      color: $white;
    }
  }
}
